@font-face{
	font-family:bnm;
	src:url(../fonts/bpg_nino_mtavruli_normal.ttf);
}
@font-face{
	font-family:myFont;
	src:url(../fonts/gadugi.ttf);
}
@font-face{
	font-family: futura;
	src:url(../fonts/futura.ttf);
}
*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
	box-sizing:border-box;
}
button{
	outline:none;
	border:none;
}
#homepage{
	background:black;	
}
.clear{
	clear:both;
}
header{
	width:100%;
	padding:40px 100px 40px 100px;
}
.wrapper{
	margin:0 auto;
	max-width:1052px;
	width:100%;
}
.dis-flex-between{
	display:flex;
	justify-content:space-between;
	align-items: flex-start;
}

.grad-border{
	  -moz-border-image: -moz-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	  -webkit-border-image: -webkit-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	  border-image: linear-gradient(to right,#2D98D4 0%, #E81F64 100%);
	  border-image-slice: 1;
}
.logo{
	margin-right:30px;
	width:100px;
}
nav{
	width:100%;
	max-width:715px;
	float:right;
	display:flex;
	justify-content:space-between;
}
.my-dreams{
	width:100%;
	height:calc(100vh - 140px);
}
.my-dreams-t h1{
	color:#7A7977;
	font-size:32px;
	font-weight:normal;
	text-align:center;
}
.my-dreams-b{
	padding-bottom: 30px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin:auto;
	width:100%;
	max-width:865px;
	margin-top:-20px;
}
.mdb{
cursor:pointer;
	overflow:hidden;
	text-align:center;
	padding:70px 0 20px 0;
	background:url(../images/dream-cards/bck.png)white;
	background-repeat:no-repeat;
	background-position:160%;
	margin-top:40px;
	width:260px;
	height:214px;
	transition:0.5s;
}
.mdb h1{
	font-size:32px;
	color:#7A7977;
	font-weight:normal;
	margin-bottom:10px;
}
.mdb p{
	font-size:14px;
	color:#BCBCBC;
	text-align:left;
	padding-left:53px;
}
.mdb span{
	margin-right:80px;
	font-size:14px;
	color:white;
	padding:0 0 3px 0;
	border-bottom:1px solid white;
}
.dreamDivHover {
    background: url(../images/dream-cards/bck-c.png)#354350 !important;
    background-repeat: no-repeat !important;
    background-position: 160% !important;
    padding: 130px 0 20px 0;
}
.font-bnm {
font-family: bnm;
}
button:hover {
cursor: pointer;
}
.registration{
	width:360px;
	margin:50px auto;
}
.close-btn{
	position:relative;
	border:2px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	border-image: linear-gradient(to right,#2D98D4 0%, #E81F64 100%);
	border-image-slice: 1;
	background:transparent;
	color:white;
	width:100px;
	text-align:center;
	line-height:20px;
	height:20px;
	margin-left:calc(50% - 50px);
	font-size:14px;
	font-family:bnm;
	font-weight:bold;
}
.close-btn-snt{
	position:absolute;
	top:-6.5px;
	left:4.5px;
	width:88px;
	height:30px;
	border:2px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	border-image: linear-gradient(to right,#2D98D4 0%, #E81F64 100%);
	border-image-slice: 1;
}
.registration .form>h1{
	font-size:32px;
	font-family:bnm;
	color:white;
	text-align:center;
	font-weight:normal;
	margin-top:50px;
}
.registration .form{
	width:360px;
	margin:auto;
}
.registration .form>input{
	border-top:0px solid transparent;
	border-left:0px solid transparent;
	border-right:0px solid transparent;
	border-bottom:2px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	border-image: linear-gradient(to right,#2D98D4 0%, #E81F64 100%);
	border-image-slice: 2;
	padding:10px 50px;
	font-size:22px;
	width:100%;
	background:transparent;
	font-weight:normal;
	font-family:bnm;
	color:#BCBCBC;
	margin-bottom:25px;
	outline:none;
}
.log-in{
	background:linear-gradient(90deg,#2D98D4 , #E81F64);
	width:120px;
	height:24px;
	border-radius:5px;
	margin-left:calc(50% - 60px);
	font-size:20px;
	font-family:bnm;
	font-weight:normal;
	color:#FFFFFF;
	line-height:27px;
	margin-top:10px;
	margin-bottom:15px;
	text-align:center;
	cursor:pointer;
}
.forgot-pass{
	display:block;
	margin:auto;
	color:white;
	width:139px;
	font-family:bnm;
	font-size:20px;
	font-weight:bold;
}
.fb-btn{
	width:240px;
	height:38px;
	line-height:38px;
	text-align:center;
	color:white;
	font-size:15px;
	font-family:bnm;
	font-weight:normal;
	background:url(../images/icon/fb.png)#354350 no-repeat;
	background-position:14% 50%;
	border-radius:5px;
	padding-left:50px;
	margin:24px 0 20px calc(50% - 120px) ;
}
.reg-now{
	display:flex;
	justify-content:center;
	font-size:25px;
	font-family:bnm;
	font-weight: normal;
	color:white;
	width:128px;
	margin-left:calc(50% - 64px);
}
#map{
	width:100%;
	height:calc(100vh - 138.4px);
}
<<<<<<< HEAD
.t2,.t3,.t4{
	color:white;
}
.t2{
	margin-bottom:15px;
}
.t3{
	color:#7D8087!important;
	margin-bottom:30px;
}
.t4{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}
.t4>div:nth-child(1){
	width:100%;
	max-width:360px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.htag{
	color:white;
	font-size:16px;
	border:1px solid white;
	border-radius:3px;
	padding:2px 5px;
	margin:5px 10px 5px 0;
}
.htag:before{
	content:'#';
	color:white;
	font-size:16px;
}
.borderrad{
	border-top:2px solid transparent;
	border-left:2px solid transparent;
	border-right:2px solid transparent;
	border-bottom:2px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	border-image: linear-gradient(to right,#2D98D4 0%, #E81F64 100%);
	border-image-slice: 2;
	padding:3px 10px;
}
.t5{
	margin-top:80px;
	width:100%;
}
.t5>div:nth-child(1){
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width:620px;
	border-top:1px solid white;
	border-bottom:1px solid white;
	padding:5px 60px 5px 40px;
	color:white;
}
.t5>div:nth-child(1)>div{
	display: flex;
	justify-content:flex-start;
	align-items:flex-end;
	flex-direction: row;
}
.t5>div:nth-child(1)>div>img{
	margin-right:5px;
}
.t5 textarea{
	padding-top:15px;
	background:transparent;
	color:white;
	font-size:16px;
	width:100%;
	max-width:620px;
	border:none;
	outline: none;
}
.perted{
	width:100%;
	display: flex;
	justify-content: flex-start;
}
#com-btn{
	display:none;
	border-top:2px solid transparent;
	border-left:2px solid transparent;
	border-right:2px solid transparent;
	border-bottom:2px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	border-image: linear-gradient(to right,#2D98D4 0%, #E81F64 100%);
	border-image-slice: 2;
	padding:3px 10px;
	background:transparent;
	color:white;
	margin-left:20px;
	cursor: pointer;
}
#category_icon img{width:80px;
height:80px;	
}
#category_icon{
	margin-top:30px;	
}
#detail p{
	margin-top:15px;
	font-size:19.17px;
	color:#7d8087;
	font-family:myFont;
}
#detail span{
	color:#d1d1d1; 
	font-family: myFont;
	display: block;
	margin-top: 10px;
}
#detail h1{
	color:#d1d1d1;
	font-family:myFont; 
	font-size:34.21px;
	font-weight: 400;	
}
#date{
	text-align: right;
}
.hashtags{
	display: flex;
	flex-wrap: wrap;
	max-width: 375px;
	overflow: hidden;
	align-items: flex-start;
}
.tag{
	margin-right: 10px;
	margin-top: 10px;
	padding: 4px;
	border-radius: 3px;
	border:1px solid #fff;
}
.tag a{
	color: #fff;
	font-size: 16.5px;
	font-family: futura;
}
.button_group{
	margin-top: 30px;
}
.button_group button{
	color: #fff;
	font-size: 14.9px;
	font-family: futura;
	padding: 5px 15px;
	background: transparent;
	border:2px solid transparent;
	border-radius: 3px;
	-moz-border-image: -moz-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #2D98D4 0%, #E81F64 100%);
	border-image: linear-gradient(to right,#2D98D4 0%, #E81F64 100%);
	border-image-slice: 1;
	margin-left: 25px;
	cursor: pointer;
}
#dream-body{
margin-top:10px;	
}
.wrapper-dream-body{
margin: 0 auto;
max-width: 865px;
width: 100%;		
}
#Dream-title{
	margin-top:70px;	
}
#form_surname{
	padding-bottom: 7px;
	border-width: 2px;
}
.forms{
	background-color:black;
	font-weight:400;
	border-left:none;
	border-top:none;
	border-right:none;
 	border-image: linear-gradient(to right,#2D98D4 0%, #E81F64 100%);
	border-image-slice: 1;
	margin-top:15px;
	width:345px;
	border-width:thin;
	color: #fff;
	outline: none;
	text-indent: 3px;
	font-size: 24px;
}
.wrapper-dream-body input::placeholder{
	color:#D1D1D1;
	font-family:MyFont;
}
.wrapper-dream-body textarea{
	width:100%;
	background-color:black;
	color: #fff;
	font-size: 24px;
	margin-top:30px;
	height:270px;
	border:none;
	outline: none;
	background-color:black;
}
.wrapper-dream-body textarea::placeholder{
	color:#D1D1D1;
	font-family:MyFont;
	font-size:24px;	
}
#category_select option{
	font-size: 18px;
}
.unstyledDateInput::-webkit-inner-spin-button,
.unstyledDateInput::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.unstyledDateInput::placeholder{
	text-align: left;
}
#Dream-details{
	margin-top:25px;
	display:flex;
	justify-content: space-between;
	height:60px;
}
.dream-inputs{
	width:160px;	
}
#bt_cancel{
	margin-right: 40px;
}
.mr-t{
	margin-top: 70px;
}
.text-right{
	text-align: right;
}
.categories{
	display: flex;
	flex-wrap:wrap;
	max-width: 290px;
}
.category{
	margin-right: 10px;
	margin-top: 10px;
}
.category select{
	width: 200px;
}
.category img{
	padding-right: 8px;
}
.category a{
	margin-right:10px;
	color: #fff;
	font-size: 16.5px;
	font-family: futura;
}
.mr-b{
	margin-bottom: 100px;
}